.header{
    margin-top: 16px;
    &__nav{
        width: 100%;
        padding-left: 48px;
        padding-right: 48px;
    }
    &__link-logo-mobile{
        display: none;
    }
    &__nav,
    &__list,
    &__list-nav,
    &__list-button{
        display: flex;
        align-items: center;
    }
    &__nav{
        border: 4px solid #478BF9;
        border-radius: 64px;
    }
    &__list{
        width: 100%;
        margin-left: 191px;
    }
    &__list-button{
        margin-left: auto;
    }
    &__link-nav{
        font-family: "Lexend Regular", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #FFFFFF;
        padding: 8px 16px;
        margin: 32px 0;
    }
    &__link-nav:hover{
        color: #478BF9;
    }
    &__list-button{
        margin-left: auto;
        gap: 14px;
    }
    &__item-button{
        border: 2px solid#9DADF2;
        border-radius: 64px;
    }
    &__link-button{
        padding: 14px;
        font-family: "Lexend Regular", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__item-button:hover{
        background-color: #478BF9;
    }
    &__item-button-sing{
        background-color: #478BF9;
    }
    &__item-button-language{
        position: relative;
    }
    &__select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border:none;
        background-color:transparent;
        color: #FFFFFF;
        margin: 14px 14px 14px 38px;
        font-family: "Lexend Regular", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #FFFFFF;
    }
    &__item-button-language::before{
        position: absolute;
        left:15px;
        top:16px;
        content: url(../../../images/planet.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media (max-width:1516px) {
    .header{
        &__list-nav{
            display: none;
        }
        &__list-button{
            padding-top:24px;
            padding-bottom:24px;
            margin-right: 35px;
        }
    }
}
@media (max-width:951px) {
    .header{
        &__list{
            margin-left: 157px;
        }
    }
}
@media (max-width:917px) {
    .header{
        &__link-logo{
            display: none;
        }
        &__link-logo-mobile{
            display: block;
        }
        &__nav{
            display: flex;
            justify-content: space-between;
        }
        &__list,
        &__list-button{
            margin-left: auto;
        }
    }
}
@media (max-width:582px) {
    .header{
        &__nav{
            padding: 0 24px;
        }
        &__link-logo-mobile{
            width: 54px;
            height: 18px;
        }
        &__list-button{
            padding: 10px 0;
        }
    }
}
@media (max-width:473px) {
    .header{
        &__list-button{
            margin-right: 30px;
        }
        &__item-button-login,
        &__item-button-sing{
            display: none;
        }
        &__select{
            margin: 7px;
        }
        &__item-button-language::before{
            z-index: -1;
            left:12px;
            top:10px;
        }
    }
}